.movie-card {
    height: 250px;
    display: inline-flex;
    cursor: pointer;
}
.movie-card:hover {
    @extend .movie-card;
    transform: translateY(15px);
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(black, 0.5);
    opacity: 1;
}
.search-box {
    color: white;
    display: inline-flex;
}
input {
    width: auto;
    border-radius: 7px;
}
input::placeholder {
    font-style: italic;
}
.popular {
    background: no-repeat
        url("../../assets/kisspng-clip-art-computer-icons-illustration-vector-graphi-indian-bahrain-escorts-manama-bahrain-escorts-5c3de7f04f3bb3.2785950815475609443246.png");
    background-size: contain;
    background-position-x: initial;
    background-position-y: center;
    width: 250px;
    font-family: math;
    font-weight: bold;
    margin-inline-start: 4%;
}
